@import "susy";

.block{
	.block__title{
		color: $light_grey;
		font-size: 20px;
		font-weight: $font_weight_bold;
	}
}
//Sign In / Register
#block-user-login{
	.popup-element{
		height: 16px;
		.popup-element-title{
			display: block;
			width: 20px;
			height: 21px;
			background: image-url("user_icon.png") no-repeat left center transparent;
			padding: 0px;
			span{
				display: none;
			}
		}	
	}	
}
//User menu
#block-system-user-menu{
	background: image-url("user_icon.png") no-repeat 10px center transparent;	
	padding-left: 40px;
}
//Search Form
#block-search-form{
	.popup-element{
		height: 16px;
		.popup-element-title{
			font-size: 0px;
			text-indent: -9999px;
			width: 40px;
			height: 23px;
			display: block;
			background: image-url("search_icon.png") no-repeat center center transparent;
			padding: 0px;
			margin: 0px;
			span{
				display: none;
			}
		}	
	}
}
//language switcher
#block-locale-language{
	.language-switcher-locale-url{
		li.active{
			display: none;
		}
	}
}

//800 header block
/*
#block-block-15{
	margin-right: 0;
	display: block;
	text-align: center;

	.block__content{
		a{
			font-size: 26px;
			padding-left: 30px;
			color: $dark_grey;
			text-decoration: none;
			background: image-url("cell_icon.png") left center no-repeat transparent;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
*/
//book a meeting
#block-block-14 {
	display: none;
	.block__content{
		font-size: 22px;
		font-weight: $font_weight_semi_bold;
		text-transform: uppercase;		
		.blue-btn{
			@extend .standard_blue;
		}	
	}
}

//get a quick free quote block
#block-webform-client-block-76{
	.block__title{
		background: $yellow;
		padding: 10px 20px;
		margin: 0px;
		font-size: 18px;
		color: white;
		font-weight: $font_weight_bold;
		padding-right: 40px;
		cursor: pointer;
		span{
			background: image-url("arrow_down_white.png") no-repeat center center transparent;
			width: 25px;
			height: 13px;
			display: block;
			font-size: 0px;
			text-indent: -9999px;
			position: absolute;
			top: 16px;
			right: 16px;	
		}
	}
	&.expanded{
		.block__title{
			span{
				background: image-url("arrow_up_white.png") no-repeat center center transparent;
			}
		}
	}
	.block__content{
		display: none;
		
	}
}

//Footer menu
#block-menu-menu-footer-menu{
	ul.menu{
		margin: 0px;
		text-align: center;
		padding: 0px;
		li{
			border-right: 1px solid white;
			padding: 0 10px;
			margin: 0px;
			display: inline-block;
			list-style: none;
			a{
				color: white;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.last{
				border: 0px;
			}
		}
	}
}

//signup for our newsletter
#block-simplenews-8{
	p{
		display: inline-block;
		margin: 0px;
		padding: 0px;
		vertical-align: middle;
		line-height: 34px;
	}
	#simplenews-block-form-8{
		display: inline-block;
		margin-left: 10px;
		.form-item{
			display: inline-block;
			margin: 0px;
			label{
				display: none;
			}
			.form-text{
				border: 0px;
				border-radius: 4px;
				padding: 7px 10px 8px;
				color: #333;
				margin-right: 10px;
				font-size: 14px;
			}
		}
		.form-submit{
			@extend .standard_yellow;
			display: inline-block;
		}
	}
}
//related faq
#block-views-custom-content-block{
	
}

//recent blog - home page
#block-views-custom-content-block-3{
	.block__title{
		background: $yellow;
		text-align: center;
		padding: 15px 10px;
		font-weight: $font_weight_normal;
		color: white;
		margin: 0px;
		.more-link{
			text-align: center;
			a{
				color: white;
				text-decoration: none;
				padding-right: 30px;
				background: image-url("narrow_arrow_right_white.png") no-repeat right center transparent;
				&:hover{
					color: $dark_blue;
					background: image-url("narrow_arrow_right_blue.png") no-repeat right center transparent;					
				}		
			}
		}
	}
	.block__content{	
		background: image-url("arrow_down_yellow.png") no-repeat center top transparent;
		.view-custom-content{
			padding: 50px 50px 0;
			.views-field-field-image{
				float: left;
				width: 240px;
				margin-right: 20px;
				img{
					width: 100%;
					max-width: 100%;
				}
			}
			.views-field-nothing{
				float: left;
				width: 250px;
				text-align: left;
				.field_title{
					margin-top: 10px;
					margin-bottom: 15px;
					a{
						color: $dark_blue;
						text-decoration: none;
						font-size: 18px;
						font-weight: $font_weight_semi_bold;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.field_body{
					margin-bottom: 15px;
					text-overflow: ellipsis;
					overflow: hidden;
					line-height: 130%;
					p{
						margin: 0 0 10px;
					}
				}
				.field_link{
					a{
						background: image-url("narrow_arrow_right_yellow.png") no-repeat right center transparent;
						padding-right: 26px;
						color: $yellow;
						font-size: 16px;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
							background-image: image-url("narrow_arrow_right_blue.png");
							color: $dark_blue;
						}
					}
				}
			}
		}
	}
}

//testimonials - home page
#block-views-custom-content-block-4{
	background: $dark_blue;
	padding: 30px;
	color: white;
	position: relative;
	.block__content{
		a{
			color: white;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
				color: $yellow;
			}
		}
		.view-content{
			padding: 20px 0;
			border-bottom: 1px solid $light_blue;
			.views-row{
				.views-field-body{
					padding-bottom: 20px;
					font-style: italic;
					font-size: 13px;
					word-wrap: break-word;
				}
				.views-field-field-testimonials-client{
					padding-bottom: 10px;
					text-align: center;
					font-weight: $font_weight_semi_bold;
					font-size: 16px;
				}
				.views-field-field-testimonials-date{
					text-align: center;
					font-weight: $font_weight_semi_bold;
					font-size: 16px;
				}
			}
		}
		.more-link{
			margin-top: 20px;
			text-align: center;
		}
	}
  &:before {
    background: image-url("quote_left.png") no-repeat center center transparent;
    content: ' ';
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  &:after {
    background: image-url("quote_right.png") no-repeat center center transparent;
    content: ' ';
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}

//Contact us - footer
#block-block-21{
	.block__content{
		a{
			color: $dark_grey;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

//Call us - footer
#block-block-19{
	.block__content{
		font-size: 20px;
		a{
			color: $dark_grey;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		p{
			margin: 10px 0;
		}
	}
}
//Language dropdown 
#block-lang-dropdown-language{
	border: 0px;
}

.l-region--sidebar-second{
	.block{
		background: $super_light_grey;
		.block__title{
			background: $light_grey;
			padding: 10px 20px;
			margin: 0px;
			color: white;
		}
		.block__content{
			padding: 20px;
			ul{
				list-style: none;
				padding: 0px;
				margin: 0px;
				li.views-row{
					list-style: none;
					padding: 0px;
					margin: 0 0 15px;
				}
			}
			.views-row{
				margin-bottom: 15px;
				a{
					color: $dark_grey;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				.views-field-title{
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
		&.contact{
			.block__content{
				a{
					color: $dark_grey;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}	
	}
}

//Recent blog posts
#block-blog-recent{
	.block__content{
		ul{
			li{
				margin: 0 0 15px;
				padding: 0px;
				a{
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.more-link{
			a{
				background: image-url("narrow_arrow_right_yellow.png") no-repeat right center transparent;
				padding-right: 26px;
				color: $yellow;
				font-size: 16px;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					background-image: image-url("narrow_arrow_right_blue.png");
					color: $dark_blue;
				}
			}
		}
	}
}
//Main menu sidebar
#block-menu-block-9{
	.menu-block-wrapper{
		padding: 20px;
		ul.menu{
			list-style: none;
			margin: 0px;
			padding: 0px;
			li{
				list-style: none;
				margin-bottom: 10px;
				&.expanded{
					> span{
						font-weight: bold;
						margin-bottom: 10px;
						display: block;		
					}
				}
				&.active-trail{
					> a{
						color: $dark_blue;
						font-weight: bold;
					}
				}
				a{
					color: $dark_grey;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@include at-breakpoint($tab){
	//Sign In / Register
	#block-user-login{
		.popup-element{
			.popup-element-title{
				display: block;
				background: image-url("user_icon.png") no-repeat left center transparent;
				padding: 0 0 0 30px;
				width: auto;
				span{
					display: block;
				}
			}	
		}
	}
	//get a quick quote
	#block-webform-client-block-76{
		.block__title{
			font-size: 16px;
		}
		@include box-shadow(silver 1px 2px 10px);
	}
	//book a meeting
	#block-block-14 {
		display: inline-block;
		.block__content{
			font-size: 18px;
		}
	}
	/*
	//800 header block
	#block-block-15{
		margin-right: 20px;
		display: inline-block;
		.block__content{
			a{
				font-size: 20px;
			}
		}
	}
	*/

}
@include at-breakpoint($desk){
	//recent blog - home page
	#block-views-custom-content-block-3{
		.block__title{
			.more-link{
				margin-left: 30px;
				display: inline-block;
			}
		}
	}
	//get a quick quote
	#block-webform-client-block-76{
		.block__title{
			font-size: 18px;
		}
	}
	//book a meeting
	#block-block-14 {
		display: inline-block;
		.block__content{
			font-size: 22px;
		}
	}
	//copyright block
	#block-block-16{
		float: left;
		color: white;
	}
	//Footer menu
	#block-menu-menu-footer-menu{
		float: right;
	}
	//Social - footer
	#block-block-17{
		width: 20%;
		.block__content{
			text-align: left;
		}
	}
	//ssl text - footer
	#block-block-18{
		width: 30%;
		.block__content{
			line-height: 24px;
		}
	}
}
