ul.breadcrumb{
	list-style: none;
	overflow: hidden;
	display: block;
	margin: 0px;
	padding: 0px;
	li{
		list-style: none;
		display: block;
		float: left;
		padding: 10px 0;
		height: 32px;
		a{
			color: white;
			text-decoration: none;
			border-left: 1px solid white;
			padding: 0 20px;
			display: block;
			&:hover{
				text-decoration: underline;
			}
		}
		span{
			border-left: 1px solid white;
			padding: 0 20px;
			color: white;
		}
		&:first-child{
			padding: 0px;
			a{
				background: image-url("home_icon.png") no-repeat left center transparent;
				width: 32px;
				height: 32px;
				text-indent: -9999px;
				display: block;
				border-left: 0px;
			}
		}
	}
}