/**
*	Home carousel
*/
.flexslider{
	margin: 0px;
	border: 0px solid #fff;
	border-radius: 0px;
	padding-bottom: 30px;
	background: #ccc;
	ul.slides{
		.flex-caption{
			padding: 10px;
			.item_title{
				font-size: 24px;
				font-weight: $font_weight_bold;
				margin-bottom: 5px;
				a{
					color: #fff;
					color: $dark_grey;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
					text-shadow: 1px 1px 1px #666;
				}
			}
			.item_body{
				font-size: 18px;
				color: #fff;
				font-weight: $font_weight_semi_bold;
				p{
					margin-top: 0px;
					text-shadow: 1px 1px 1px #666;
				}
			}
			.item_link{
				a{
					color: #fff;
					font-size: 16px;
					font-weight: $font_weight_bold;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
					text-shadow: 1px 1px 1px #666;
				}
			}
			.item_color{
				display: none;
			}
		}
	}
	.flex-control-nav {
		text-align: center;
		z-index: 10;
		bottom: 5px;
	}
	.flex-direction-nav a{
		height: 55px;
		width: 55px;
    background: image-url("nav_btn.png") no-repeat 0 0 transparent;
		text-indent: -9999px;
		font-size: 0px;
		top: 30px;
		margin: 0px;
		&:before{
			display: none;
		}
		&.flex-prev{
			background-position: -3px -33px;
			&:hover{
				background-position: -123px -33px;			
			}
		}
		&.flex-next{
			background-position: -63px -33px;
			&:hover{
				background-position: -183px -33px;			
			}
		}
	}
	.flex-control-paging li a {
		width: 12px;
		height: 12px;
		display: block;
		background: white;
		cursor: pointer;
		text-indent: -9999px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		border-radius: 20px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		&.flex-active {
			background: #003e7e;
			background: rgba(0,70,153,1);
			cursor: default;
		}
		&:hover {
			background: #045dba;
			background: rgba(0,70,153,0.7);
		}
	}
}
//Tab
@include at-breakpoint($tab){
	.flexslider{
		padding: 0px;
		ul.slides{
			.flex-caption{
				width: 400px;
				padding: 10px 20px 15px 20px;
				position: absolute;
				top: 30px;
				left: 60px;
				.item_title{
					font-size: 24px;
					a{
						color: #fff;
					}
				}
				.item_body{
					font-size: 16px;
				}
				.item_link{
					a{
						font-size: 20px;
					}
				}
			}
		}
		.flex-control-nav {
			width: 100%;
			position: absolute;
			bottom: 10px;
			text-align: center;
			z-index: 10;
		}
		.flex-direction-nav a{
			top: 50%;
			margin-top: -20px;
		}
	}
}
//Desk
@include at-breakpoint($desk){
	.flexslider{
		ul.slides{
			.flex-caption{
				width: 450px;
				padding: 20px;
				position: absolute;
				top: 30px;
				left: 100px;
				.item_title{
					font-size: 30px;
					a{
						color: #fff;
					}
				}
				.item_body{
					font-size: 16px;
				}
				.item_link{
					a{
						font-size: 18px;
					}
				}
			}
		}
	}	
}