//mobile menu block
#block-block-23{
	#mobile_menu_handler {
		background: image-url("mobile_menu_icon.png") no-repeat left center transparent;
		padding: 0px 10px 0px 30px;
		font-size: 14px;
		text-transform: uppercase;
		cursor: pointer;
		color: white;
		&:hover{
			color: $yellow;
		}
	}	
}
nav.mm-menu {
	.close_btn {
		display: block;
		position: absolute;
		top: 3px;
		right: 3px;
		background: image-url("close_icon_white.png") no-repeat center center transparent;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 100;
		&:hover{
			background: image-url("close_icon_black.png") no-repeat center center transparent;			
		}
	}
	&.mm-hasheader{
		> .mm-panel{
			> .mm-list{
				&:first-child{
					margin-top: 0px;
				}
			}
		}
	}
	&.mm-fresh{
		background: $light_blue;
		color: white;
		text-shadow: 0 1px #333;
		> .mm-header{
			background: $yellow;
			.mm-title{
				color: white;
			}
			.mm-prev:before{
				border-color: white;
			}
		}
		> .mm-list{
			li{
				border: 0px;
			}
		}
		> .mm-footer{
			color: $dark_blue;
		}
		.mm-subopen:after, .mm-subclose:after{
			border-color: white !important;
		}
		em.mm-counter{
			color: white;
		}
	}

}

//Tab
@include at-breakpoint($tab){

}
//Desk
@include at-breakpoint($desk){
	#block-block-23{
		display: none;
	}
}