#block-superfish-1{
	display: none;
	ul.sf-menu{
		display: table;
		width: 100%;
		position: relative;
		> li.sf-depth-1{
			display: table-cell;
			float: none;
			padding: 15px;
			position: initial;
			a{
				text-decoration: none;
				color: black;
				&:hover{
					color: $yellow;
				}
			}
			> a{
				font-size: 18px;
				font-weight: $font_weight_bold;
				color: $dark_grey;
				float: left;
			}
			&.active-trail{
				> a{
					color: $yellow;				
				}
			}
			&.first{
				padding-left: 0px;
			}
			&.last{
				padding-right: 0px;
			}
			&.menuparent{
				> a{
						background: image-url("arrow_down.png") no-repeat right center transparent;
						padding-right: 26px;
					}
				ul.sf-megamenu{
					display: none;
					z-index: 1001;
					background: $extra_light_grey;
					top: 48px;
					padding: 15px 15px 15px !important;
					border-radius: 0px;
					border-top: 5px solid $dark_blue;
					width: 100%;
					li.sf-depth-1{
						&.active-trail{
							> a{
								color: white;
							}
						}
					}
					li.sf-depth-2{
						&.menuparent{
							width: 300px;
							padding: 20px;
							font-weight: $font_weight_semi_bold;
						}
						span.menuparent{
							margin-bottom: 10px;
							display: block;
							font-size: 16px;
						}
						li.sf-depth-3{
							margin-bottom: 5px;
							font-size: 14px;
							padding: 5px 0;
							font-weight: $font_weight_normal;
							a{
								color: $dark_grey;
								&:hover{
									color: $yellow;
								}
							}
						}
					}
				}
			}
		}
	}
}

#block-menu-menu-header-menu{
	display: none;
}

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
	#block-superfish-1 {
		ul.sf-menu {
			> li.sf-depth-1 {
				> a {
					font-size: 14px;
				}
				&.menuparent{
					> a{
						padding-right: 26px;
					}
					ul.sf-megamenu{
						top: 58px;
						li.sf-depth-2{
							&.menuparent{
								width: 250px;
								padding: 20px;
								font-weight: $font_weight_semi_bold;
							}
							span.menuparent{
								margin-bottom: 10px;
								display: block;
								font-size: 13px;
							}
							li.sf-depth-3{
								font-size: 12px;
							}
						}
					}
				}
			}		
		}
	}
}
@include at-breakpoint($desk) {
	#block-superfish-1 {
		display: block;
		ul.sf-menu {
			> li.sf-depth-1 {
				> a {
					font-size: 16px;
				}
				&.menuparent{
					> a{
						padding-right: 26px;
					}
					ul.sf-megamenu{

						top: 46px;
						li.sf-depth-2{
							&.menuparent{
								width: 250px;
								padding: 20px;
								font-weight: $font_weight_semi_bold;
							}
							span.menuparent{
								margin-bottom: 10px;
								display: block;
								font-size: 14px;
							}
							li.sf-depth-3{
								font-size: 12px;
							}
						}
					}
				}
			}		
		}
	}		
	#block-menu-menu-header-menu{
		display: inline-block;
	}
}