input.webform-calendar{
	width: 0px;
	height: 0px;
	padding: 16px;
	display: block;
	background: image-url("calendar_icon.png")	center center no-repeat transparent;
}

#webform-client-form-76{
	margin: 0;
	padding: 0 0 10px;
	background: $extra_light_grey;
	.webform-component{
		margin: 15px auto;
		display: block;
		width: 280px;
		label{
			margin-bottom: 2px;
			font-weight: $font_weight_normal;
		}
		&.webform-component--steps{
			margin: 0;
			display: block;
			background: $dark_grey;
			width: 100%;
			ol{
				padding: 10px;
				list-style: none;
				margin: 0px;
				overflow: hidden;
				width: 100%;
				li{
					list-style: none;
			    @include span-columns(4, 12); // Span 12 out of 12 columns.
					color: white;
					font-size: 13px;
					font-weight: $font_weight_semi_bold;
					text-align: center;
					&:last-child, &.last-step{
				    @include span-columns(4 omega, 12); // Span 12 out of 12 columns.						
					}
				}
			}
		}
	}
	.form-actions{
		margin: 15px;
		text-align: center;
	}
}
.page-node-76{
	.node--webform--full{
		#webform-client-form-76{
			.form-item{
				&.webform-component--steps{
					ol{
					}
				}
			}
		}
	}	
}
@include at-breakpoint($desk){
	.page-node-76{
		.node--webform--full{
			#webform-client-form-76{
				.webform-component{
					margin: 10px 2%;
					display: inline-block;
					width: 45%;
					&.webform-component--steps{
						width: 100%;
						margin: 0px;
						display: block;
					}
				}
			}
		}
	}
	#webform-client-form-76{
		.webform-component{
			margin: 15px 20px;
		}
	}
}