input.webform-calendar{
	width: 0px;
	height: 0px;
	padding: 16px;
	display: block;
	background: image-url("calendar_icon.png")	center center no-repeat transparent;
}

#webform-client-form-76 {
	margin: 0;
	padding: 0 0 10px;
	background: $extra_light_grey;
	.webform-component {
		margin: 15px auto;
		display: block;
		width: 280px;
		label{
			margin-bottom: 2px;
			font-weight: $font_weight_normal;
		}
		&.webform-component--steps {
			margin: 0;
			display: block;
			background: $dark_grey;
			width: 100%;
			ol {
				padding: 10px;
				list-style: none;
				margin: 0px;
				overflow: hidden;
				width: 100%;
				li {
					list-style: none;
			    @include span-columns(4, 12); // Span 12 out of 12 columns.
					color: white;
					font-size: 13px;
					font-weight: $font_weight_semi_bold;
					text-align: center;
					&:last-child, &.last-step {
				    @include span-columns(4 omega, 12); // Span 12 out of 12 columns.						
					}
					padding-left: 45px;
					&.step_1 {
						background: image-url("step_1.png") no-repeat 10px center transparent;
					}
					&.step_2 {
						background: image-url("step_2.png") no-repeat 10px center transparent;
					}
					&.step_3 {
						background: image-url("step_3.png") no-repeat 10px center transparent;
					}
				}
			}
		}
	}
	.form-actions{
		margin: 15px;
		text-align: center;
	}
}


.i18n-zh-hans {
	#block-webform-client-block-76{
		.block__title{
			font-size: 18px;
		}
	}
	#webform-client-form-76 {
		.webform-component {
			&.webform-component--steps {
				ol {
					li {
						font-size: 14px;
						line-height: 31px;
					}
				}
			}
		}
	}
}
.i18n-zh-hant {
	@extend .i18n-zh-hans;	
}

.page-node-76{
	.node--webform--full{
		#webform-client-form-76{
			.form-item{
				&.webform-component--steps{
					ol{
					}
				}
			}
		}
	}	
}
/**
 *
 * Buy online
 *
 **/
.node-type-webform {
	.webform-client-form {
		> div > fieldset {
			border: 0px;
			padding: 0px;
			margin: 0 0 10px;
			position: relative;
			> legend {
				display: block;
				width: 100%;
				.fieldset-legend {
					color: white;
					font-size: 16px;
					font-weight: $font_weight_semi_bold;
					text-decoration: none;
					display: block;
					padding: 10px 40px 10px 20px;
					text-align: left;
					background: image-url("arrow_up_white_right_20.png") no-repeat right center $yellow;
					.summary {
						margin: 0px;
					}
				}
				&:hover {
					cursor: pointer;
				}
			}
			> .fieldset-wrapper {
				background: $super_light_grey;
				padding: 10px 20px 20px;
				//level two
				> fieldset {
					border: 0px;
					padding: 0px;
					margin: 0 0 20px;
					position: relative;
					> legend {
						padding: 10px 20px;
						font-size: 16px;
						display: block;
						width: 100%;
						font-weight: bold;
						background-color: $extra_light_grey;
					}
					> .fieldset-wrapper {
						padding: 10px 20px 20px;
						background-color: $ultra_light_grey;
						overflow: hidden;
						fieldset {
							border: 0px;
							padding: 0px;
							margin: 0 0 20px;
							position: relative;
							background: white;
							legend {
								padding: 10px 20px;
								font-size: 14px;
								display: block;
								width: 100%;
								font-weight: bold;
								background-color: $yellow;
								color: white;
							}
							.fieldset-wrapper {
								padding: 10px 20px;
								overflow: hidden;
								.error_msg {
									color: red;
									background: image-url("warining_icon.png") no-repeat 0px bottom transparent;
									padding-left: 30px;
									clear: both;
									line-height: 24px;
								}
							}
						}
					}
					&.webform-component--step-4--premium {
						display: none;
					}
				}
				.form-type-radio {
					display: inline-block;
					margin: 10px 10px 10px 0;
				}
				.no_spmcc_msg, .spmcc_msg {
					margin: 10px 0;
					font-size: 12px;
					line-height: 16px;
					color: $light_grey;
					padding-left: 24px;
					background: image-url("info_icon_16.png") no-repeat 0px center transparent;										
				}
			}
			&.custom_collapsed {
				> legend {
					.fieldset-legend {
						background: image-url("arrow_down_white_right_20.png") no-repeat right center $tab_blue;
						&:hover {
							background: image-url("arrow_up_white_right_20.png") no-repeat right center $yellow;						
						}
					}
				}
			}
			&.disabled {
				> legend {
					&:hover {
						cursor: default;
					}
					.fieldset-legend {
						background: image-url("arrow_down_white_right_20.png") no-repeat right center $light_grey;
						&:hover {
							background: image-url("arrow_down_white_right_20.png") no-repeat right center $light_grey;
						}
					}					
				}
			}
			&.webform-component--step-3 {
				.webform-component-radios {
					&.custom_hidden {
						display: none;
					}
				}
			}
			.review_wrapper {
				.review {
					.section {
						.s_header {
							background: $extra_light_grey;
							font-size: 16px;
							padding: 10px 15px;
							color: $yellow;
						}
						.s_content {
							background: white;
							padding: 10px 15px;
							font-size: 14px;
							line-height: 150%;
							margin-bottom: 10px;
							.item {
								margin: 5px 0;
								.label {
								  @include span-columns(6, 12);
								}
								.value {
								  @include span-columns(6 omega, 12);
									font-weight: bold;
								}
								&.i_header {
									font-weight: bold;
								}
							}
						}
						&.insured {
							.s_content {
								.item {
									overflow: hidden;
									.name, .birthday, .spmcc {
								    @include span-columns(3, 12);
									}
									.birthday {
										.age {
											display: none;
										}
									}
									.name {
										.gender {
											display: none;
										}
									}
									.premium {
								    @include span-columns(3 omega, 12);
									}
									&.family_plan {
										.premium {
											text-decoration: line-through;
										}
									}
								}
							}
						}
						&.policy_summary {
							.s_content {
								overflow: hidden;
								.item {
									overflow: hidden;
									padding: 10px;
									border: 1px solid $extra_light_grey;
								  &.arrival_date, &.expiry_date, &.family_plan, &.deductible, &.total_premium {
								  }
								}
							}
						}
					}
				}
			}
		}
		.webform-component-textfield,
		.webform-component-email {
			.form-text {
				width: 100%;
			}
		}
		.webform-component-select {
			.form-select {
				width: 100%;
			}
		}
		.webform-component-addressfield {
			.form-item-submitted-step-2-canada-address-canadian-address-country {
				display: none;
			}
			.form-text {
				width: 100%;
			}
			.form-select {
				width: 100%;
			}
			div.addressfield-container-inline > div.form-item {

			}
		}
		.continue_btn {
			text-align: right;
			a {
				@extend .standard_yellow_right_circle_arrow;
			}
			&.disabled {
				a{
					cursor: default;
					background-color: $light_grey;
				}
			}
		}
		#duration_days {
			display: inline-block;
			position: absolute;
			top: 10px;
			right: 0px;
			#duration {
				background: image-url("duration_icon_24.png") no-repeat 10px center $yellow;
				padding: 10px 10px 10px 45px;
				border-radius: 4px;
				color: white;
			}
			&.warning {
				#duration {
					background-color: red;
				}
			}
		}
		.insured_information {
			@extend #duration_days;
			.insured_age {
				.insured_age_duration {
					background: image-url("person_icon_24.png") no-repeat 10px center $yellow;
					padding: 10px 10px 10px 40px;
					border-radius: 4px;
					color: white;		
				}
				&.warning {
					.insured_age_duration {
						background-color: red;
					}
				}
			}
			.insured_premium {
				.insured_premium_price {
					background: image-url("dollar_sign_24.png") no-repeat 10px center $yellow;
					padding: 10px 10px 10px 40px;
					border-radius: 4px;
					color: white;
					.price {
						font-weight: bold;
					}
				}
			}
		}
		#deductibles_clone, #coverages_clone {
			display: none;
		}
		#traveller_number {
			padding: 10px 20px;
		}
	}
}

/**
 *
 *	Tab
 *
 **/
@include at-breakpoint($tab) {
	.node-type-webform {
		.webform-client-form {
			.webform-component-textfield,
			.webform-component-email {
				.form-text {
					width: 80%;
				}
			}
			.webform-component-select {
				.form-select {
					width: 80%;
				}
			}
			.webform-component-addressfield {
				.form-text {
					width: 80%;
				}
				.form-select {
					width: 80%;
				}
				div.addressfield-container-inline > div.form-item {

				}
			}
			.webform-component--step-2--travel-dates {
				.webform-component-date {
			    @include span-columns(6, 12);
			    &.webform-component--step-2--travel-dates--effective-date {
				    @include span-columns(6 omega, 12);
			    }
				}
			}
			.webform-component--step-2--coverage-and-deductible {
				.webform-component {
			    @include span-columns(6, 12);
			    &.webform-component--step-2--coverage-and-deductible--select-a-deductible-amount {
				    @include span-columns(6 omega, 12);
			    }				
				}
			}
			.webform-component--step-2--traveller-information-insured {
				.webform-component {
			    @include span-columns(6, 12);
			    &.webform-component--step-2--traveller-information-insured--insured-1--surname,
			    &.webform-component--step-2--traveller-information-insured--insured-1--gender,
			    &.webform-component--step-2--traveller-information-insured--insured-2--surname,
			    &.webform-component--step-2--traveller-information-insured--insured-2--gender,
			    &.webform-component--step-2--traveller-information-insured--insured-3--surname,
			    &.webform-component--step-2--traveller-information-insured--insured-3--gender,
			    &.webform-component--step-2--traveller-information-insured--insured-4--surname,
			    &.webform-component--step-2--traveller-information-insured--insured-4--gender,
			    &.webform-component--step-2--traveller-information-insured--insured-5--surname,
			    &.webform-component--step-2--traveller-information-insured--insured-5--gender {
				    @include span-columns(6 omega, 12);
			    }
				}
			}
			.webform-component--step-2--contact-information {
				.webform-component {
			    @include span-columns(6, 12);
			    &.webform-component--step-2--contact-information--surname,
			    &.webform-component--step-2--contact-information--home-phone,
			    &.webform-component--step-2--contact-information--fax-number {
				    @include span-columns(6 omega, 12);
			    }					
				}
			}
			.webform-component--step-2--canada-address {
				.street-block {
					.form-type-textfield {
				    @include span-columns(6, 12);
						&.form-item-submitted-step-2-canada-address-canadian-address-premise {
					    @include span-columns(6 omega, 12);
						}
					}
				}
				.locality-block {
					.form-item {
				    @include span-columns(6, 12);
				    &.form-type-select {
					    @include span-columns(6 omega, 12);
				    }					
					}
				}
				.webform-component-textfield {
				  @include span-columns(6, 12);
					&.webform-component--step-2--canada-address--phone-2 {
						@include span-columns(6 omega, 12);
					}
				}
			}
			> div > fieldset {
				.review_wrapper {
					.review {
						.section {
							.s_header {
							}
							.s_content {
								.item {
									.label {
									  @include span-columns(6, 12);
									}
									.value {
									  @include span-columns(6 omega, 12);
										font-weight: bold;
									}
								}
							}
							&.insured {
								.s_content {
									.item {
										overflow: hidden;
										.name, .birthday, .spmcc {
									    @include span-columns(3, 12);
										}
										.birthday {
											.age {
												margin-left: 5px;
												display: inline-block;
											}
										}
										.name {
											.gender {
												margin-left: 5px;
												display: inline-block;
											}
										}										
										.premium {
									    @include span-columns(3 omega, 12);
										}
									}
								}
							}
							&.policy_summary {
								.s_content {
									.item {
									  @include span-columns(6, 12);
									  &.arrival_date, &.expiry_date, &.family_plan, &.deductible, &.total_premium {
										  @include span-columns(6 omega, 12);								  
									  }
									  &.insurance_product {
										  width: 100%;
										  margin-right: 0px;
										  .label {
										  	width: 24%;
										  	margin-right: 0px;
										  }
										  .value {
										  	float: left;
										  }
									  }
									}
								}
							}
						}
					}
				}
			}
			#traveller_number {
				position: absolute;
				top: 0px;
				right: 0px;
				padding: 5px 20px;
			}
		}
	}	
}
/**
 *
 *	Desktop
 *
 **/
@include at-breakpoint($desk) {
	.page-node-76 {
		.node--webform--full {
			#webform-client-form-76 {
				.webform-component{
					margin: 10px 2%;
					display: inline-block;
					width: 45%;
					&.webform-component--steps {
						width: 100%;
						margin: 0px;
						display: block;
					}
				}
			}
		}
	}
	#webform-client-form-76 {
		.webform-component{
			margin: 15px 20px;
		}
	}
	.node-type-webform {
		.webform-client-form {
			.webform-component--step-2--traveller-information-insured {
				.webform-component {
			    @include span-columns(3, 16);
			    &.webform-component--step-2--traveller-information-insured--insured-1--surname,
			    &.webform-component--step-2--traveller-information-insured--insured-2--surname,
			    &.webform-component--step-2--traveller-information-insured--insured-3--surname,
			    &.webform-component--step-2--traveller-information-insured--insured-4--surname,
			    &.webform-component--step-2--traveller-information-insured--insured-5--surname {
				    @include span-columns(3, 16);
			    }
			    &.webform-component--step-2--traveller-information-insured--insured-1--birthday,
			    &.webform-component--step-2--traveller-information-insured--insured-2--birthday,
			    &.webform-component--step-2--traveller-information-insured--insured-3--birthday,
			    &.webform-component--step-2--traveller-information-insured--insured-4--birthday,
			    &.webform-component--step-2--traveller-information-insured--insured-5--birthday {
			    	@include span-columns(7, 16);			    	
			    }
			    &.webform-component--step-2--traveller-information-insured--insured-1--gender,
			    &.webform-component--step-2--traveller-information-insured--insured-2--gender,
			    &.webform-component--step-2--traveller-information-insured--insured-3--gender,
			    &.webform-component--step-2--traveller-information-insured--insured-4--gender,
			    &.webform-component--step-2--traveller-information-insured--insured-5--gender {
				    @include span-columns(3 omega, 16);
			    }
				}
			}
			.webform-component--step-2--travel-dates {
				.webform-component-date {
			    @include span-columns(4, 12);
			    &.webform-component--step-2--travel-dates--effective-date {
				    @include span-columns(4, 12);
			    }
			    &.webform-component--step-2--travel-dates--expiry-date {
				    @include span-columns(4 omega, 12);			    
			    }
			    select {
//			    	padding: 6px 26px 6px 8px;
			    }
				}
			}
		}
	}
}