/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
body{
  background: url("../images/bg_720.png") repeat-y center center #0079c1;	
  /*background-color: #f8f9fa;*/
}

/**Main Menu*/
#block-superfish-1 ul.sf-menu li.sf-depth-1 a{
	font-size: 12px;
	line-height: 14px;
}