/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body{
  background: url("../images/bg_1200.png") repeat-y center center #0079c1;	
  /*background-color: #f8f9fa;*/
}
.front #page-title{
	display: none;
}
/**
*	Zones
*/
#zone-branding{
	padding-bottom: 3px;
}
#zone-preface{
	padding-top: 20px;
	padding-bottom: 20px;
}
.zone{
  background: #f8f9fa;
  /*background: white;*/
}
/**
*	User zone
*/
#zone-user{
	padding: 10px 0;
}
/**
*	Main menu
*/
#block-superfish-1 ul.sf-menu{
	background: url(../images/main_menu_bg.gif) repeat 0 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	box-shadow: 2px 1px 6px -3px #aaa;
	font-family: FrutigerBold, Frutiger, Istok Web, Arial, Helvetica, sans-serif;
	float: left;
	background: url(../images/bg_nav.gif) no-repeat top right;
}
.sf-menu ul li{
	width: auto;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1{
	padding: 15px 20px;
	margin: 0px;
	text-align: center;
	background: url('../images/main_menu_divider.png') no-repeat left center transparent;
	padding: 9px 20px;
	background: #e4f5fc;
	background: url('../images/nav-shadow.png') 0 0 no-repeat, -moz-linear-gradient(top, #e4f5fc 0%, #9fd8ef 0%, #85c4ef 30%, #4c9ece 98%);
	background: url('../images/nav-shadow.png') 0 0 no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(0%,#9fd8ef), color-stop(30%,#85c4ef), color-stop(98%,#4c9ece));
	background: url('../images/nav-shadow.png') 0 0 no-repeat, -webkit-linear-gradient(top, #e4f5fc 0%,#9fd8ef 0%,#85c4ef 30%,#4c9ece 98%);
	background: url('../images/nav-shadow.png') 0 0 no-repeat, -o-linear-gradient(top, #e4f5fc 0%,#9fd8ef 0%,#85c4ef 30%,#4c9ece 98%);
	/* background: url('../images/nav-shadow.png') 0 0 no-repeat, -ms-linear-gradient(top, #e4f5fc 0%,#9fd8ef 0%,#85c4ef 30%,#4c9ece 98%); */
	background: url('../images/nav-shadow.png') 0 0 no-repeat, linear-gradient(to bottom, #e4f5fc 0%,#9fd8ef 0%,#85c4ef 30%,#4c9ece 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#4c9ece',GradientType=0 );
}
#block-superfish-1 ul.sf-menu li.first.sf-depth-1{
	background: #e4f5fc;
	background: -moz-linear-gradient(top, #e4f5fc 0%, #9fd8ef 0%, #85c4ef 30%, #4c9ece 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(0%,#9fd8ef), color-stop(30%,#85c4ef), color-stop(98%,#4c9ece));
	background: -webkit-linear-gradient(top, #e4f5fc 0%,#9fd8ef 0%,#85c4ef 30%,#4c9ece 98%);
	background: -o-linear-gradient(top, #e4f5fc 0%,#9fd8ef 0%,#85c4ef 30%,#4c9ece 98%);
	background: -ms-linear-gradient(top, #e4f5fc 0%,#9fd8ef 0%,#85c4ef 30%,#4c9ece 98%);
	background: linear-gradient(to bottom, #e4f5fc 0%,#9fd8ef 0%,#85c4ef 30%,#4c9ece 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#4c9ece',GradientType=0 );
}
.i18n-en #block-superfish-1 ul.sf-menu li.sf-depth-1{
	padding: 9px 10px;
}

/*#block-superfish-1 ul.sf-menu li.sf-depth-1.first{
	background: none;
}*/
#block-superfish-1 ul.sf-menu li.sf-depth-1 a{
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: white;
	text-decoration: none;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1.sfHover, 
#block-superfish-1 ul.sf-menu li.sf-depth-1:hover, 
#block-superfish-1 ul.sf-menu li.sf-depth-1.active-trail{
	background: white;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1.sfHover a, 
#block-superfish-1 ul.sf-menu li.sf-depth-1:hover a, 
#block-superfish-1 ul.sf-menu li.sf-depth-1.active-trail a{
	color: #035cb6;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1.sf-parent-children-0 ul.sf-megamenu {
	width: 100%;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu{
	background: white;
	border-radius: 0px;
	top: 34px;
	padding: 0 !important;
	width: 477px;	
	box-shadow: 0px 3px 13px 2px #999999;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-depth-1 {
  background: none;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper {
  padding: 8px 0;
  margin: 0px;
  width: 100%;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2 {
  border: 0px;
  background: none;
  padding: 6px 15px;
  margin: 0px;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2 a {
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #004fb6; 
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2:hover {
  background: #c1e5ff;
 }
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2.sf-megamenu-column {
  width: 50%;
  padding: 0px 0;
  margin: 0px;
  text-align: left;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2.sf-megamenu-column .sf-megamenu-column .sf-depth-2.menuparent {
	font-size: 14px;
	margin: 5px 0;
	padding: 8px 15px;
	display: block;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2.sf-megamenu-column .sf-megamenu-column ol{

}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2.sf-megamenu-column .sf-megamenu-column li.sf-depth-3 {
	padding: 6px 15px;
	margin: 0px;
	clear: both;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2.sf-megamenu-column .sf-megamenu-column li.sf-depth-3 a {
	font-family: Istok Web, Arial, Helvetica, sans-serif;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2.sf-megamenu-column .sf-megamenu-column li.sf-depth-3:hover {
	background: #c1e5ff;
}
#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2.sf-megamenu-column .sf-megamenu-column li.sf-depth-3:hover a{
	text-decoration: underline;
}

#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2.sf-megamenu-column.last {
	margin-right: 0px; }

#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2.menuparent:hover {
	background: none; }

#block-superfish-1 ul.sf-menu li.sf-depth-1 ul.sf-megamenu li.sf-megamenu-wrapper li.sf-depth-2.sf-no-children {
	font-family: Frutiger, Istok Web, Arial, Helvetica, sans-serif; }

#block-superfish-1 ul.sf-menu li.sf-depth-1.sfHover, #block-superfish-1 ul.sf-menu li.sf-depth-1:hover, #block-superfish-1 ul.sf-menu li.sf-depth-1.active-trail {
	background: white; 
}

/**
*	Block styling
**/
h2.block-title {
	font-size: 16px;
	margin: 0;
	color: #0079C1;
	text-transform: uppercase;
	padding: 4px;
}

/**
*	Home carousel
*/
.flexslider{
	margin: 0px;
	border: 2px solid #fff;
	border-radius: 0px;
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
	z-index: 1000;
}
.flex-direction-nav a{
	height: 55px;
	width: 55px;
	background: url(../images/nav_btn.png) no-repeat 0 0 transparent;
	text-indent: -9999px;
	font-size: 0px;
}
.flex-direction-nav a:before{
	display: none;
}
.flex-direction-nav a.flex-prev{
	background-position: -3px -33px;
}
.flex-direction-nav a.flex-prev:hover{
	background-position: -123px -33px;
}
.flex-direction-nav a.flex-next{
	background-position: -63px -33px;
}
.flex-direction-nav a.flex-next:hover{
	background-position: -183px -33px;
}
.flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	background: white;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.flex-control-paging li a.flex-active {
	background: #003e7e;
	background: rgba(0,70,153,1);
	cursor: default;
}
.flex-control-paging li a:hover {
	background: #045dba;
	background: rgba(0,70,153,0.7);
}

/**
*`User second block
*/
#region-user-second{
	text-align: right;
}
#region-user-second .block{
	display: inline-block;
}
/**
*	Header Menu
*/
#block-menu-menu-header-menu .menu{

}
#block-menu-menu-header-menu .menu li{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0px;
}
#block-menu-menu-header-menu .menu li a{
	border-right: 1px solid black;
	padding: 0 10px;
	line-height: 15px;
	font-size: 13px;
	text-decoration: none;
}


/**
*	Language switcher
*/
.language-switcher-locale-url{
	margin: 0px
}
.language-switcher-locale-url li{
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.language-switcher-locale-url li.active{
	display: none;
}
.language-switcher-locale-url li a{
	border-right: 1px solid black;
	padding: 0 10px;
	line-height: 15px;
	font-size: 13px;
	text-decoration: none;	
}
.language-switcher-locale-url li.last a{
	border-right: 0px;
}
.language-switcher-locale-url li a:hover{
	text-decoration: underline;
}

/**
*	Quick tab
**/
.quicktabs_main.quicktabs-style-sky {
	border: solid 1px #c8e5f7;
}
ul.quicktabs-tabs.quicktabs-style-sky li.active{
	margin: 0px;	
}
ul.quicktabs-tabs.quicktabs-style-sky li a:hover, ul.quicktabs-tabs.quicktabs-style-sky li.active a:hover,
ul.quicktabs-tabs.quicktabs-style-sky li.active a{
	background: url(../images/block_title_bg_revert.png) repeat-x 0 0 transparent;
	color: #015fb9;
	border: solid 1px #c8e5f7;
}
ul.quicktabs-tabs.quicktabs-style-sky li a, 
ul.quicktabs-tabs.quicktabs-style-sky li a:visited{
	background: url(../images/block_title_bg.png) repeat 0 0px transparent;
	color: #015fb9;
	border: solid 1px #c8e5f7;
}
/**
*	Quick tabe block
*/
.block-quicktabs .view-id-custom_content.view-display-id-block .view-content .item-list > ul{
	overflow: hidden;
	display: block;
	margin: 0px;
}
.block-quicktabs .view-id-custom_content.view-display-id-block .view-content .views-row{
	float: left;
	width: 48%;
	margin: 1%;
}
.block-quicktabs .view-id-custom_content.view-display-id-block .view-content .views-row .views-field-title{
	background: url(../images/icon.gif) no-repeat -117px 10px;
	padding-left: 10px;
}

/**
*	Page with tab style
*/
.ui-widget-content {
	border: 0;
	background: none;
	font-size: 13px;
}
.ui-tabs .ui-tabs-panel {
	padding: 10px;
}

ul.quicktabs-tabs, 
.field-collection-tabs ul.ui-tabs-nav {
	box-shadow: #d5d5d5 2px 2px 2px;
	border-radius: 0;
	background: url("../images/tab_title_bg.png") repeat-x center bottom #81c2ed;
	border-radius: 2px;
	display: inline-block;
	font-family: FrutigerBold, Frutiger, Istok Web, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 17px;
	margin-left: 0 !important;
	padding: 0;
}
.field-collection-tabs ul.ui-tabs-nav{
	box-shadow: #d5d5d5 2px 2px 2px;
	border-radius: 4px;
	background: url("../images/tab_title_bg.png") repeat-x center bottom #81c2ed;
	border: 1px solid #379BD8;	
}

.field-collection-tabs ul.ui-tabs-nav li {
	border-radius: 2px;
	margin: 0px;
	padding: 0px;
}
ul.quicktabs-tabs li.ui-state-default,
.field-collection-tabs ul.ui-tabs-nav li.ui-state-default {
	background: none;
	border: 0;
}
.field-collection-tabs ul.ui-tabs-nav li.ui-state-active {
	background: #fff;
	margin: 0px;
	padding: 0px;
	top: 0px;
}
.field-collection-tabs ul.ui-tabs-nav li.ui-state-active a{
	color: #015fb9;
}
ul.quicktabs-tabs li a,
.field-collection-tabs ul.ui-tabs-nav li a {
	color: white;
	display: inline-block;
	font-weight: normal;
	padding: 10px 20px;
	text-decoration: none;
}
ul.quicktabs-tabs{
	-webkit-box-shadow: #d5d5d5 0px -2px 2px;
	-moz-box-shadow: #d5d5d5 0px -2px 2px;
	box-shadow: #d5d5d5 0px -2px 2px;
	margin-bottom: -1px;
	border: 1px solid #addaf5;
	border-bottom: 0px;
	border-radius: 4px 4px 0px 0px;
}
.quicktabs_main{
	padding: 10px;
	border: 1px solid #addaf5;
	background: white;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ebf7fe 0%, #def3ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#def3ff));
	background: -webkit-linear-gradient(top, #ffffff 0%,#def3ff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#def3ff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#def3ff 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#def3ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#def3ff',GradientType=0 );
	box-shadow: #d5d5d5 0px 2px 8px;
	border-radius: 0 4px 4px 4px;
}
ul.quicktabs-tabs li{
	border-radius: 2px;
	margin: 0px;
	padding: 0px;
}
ul.quicktabs-tabs li a{
	/*background: url('../images/nav-shadow.png') 0 0 no-repeat transparent;*/
	/*background: url('../images/main_menu_divider.png') no-repeat left center transparent;*/
	border-left: 1px solid white;
}
ul.quicktabs-tabs li.first a{
	border: 0px;
	border-radius: 4px 0 0 0;
}
ul.quicktabs-tabs li.active a{
	background: #fff;
	background-image: none;
	color: #015fb9;
}
/**
*	Badge styling
*/
.view-custom-field-collection-view.view-display-id-block_1 .views-row {
	width: 49.15254%;
	float: left;
	margin-right: 1.69492%;
}
.view-custom-field-collection-view.view-display-id-block_1 .views-row.views-row-last {
	margin-right: 0px;
}
.view-custom-field-collection-view.view-display-id-block_1 .views-row.triple {
	width: 32.20339%;
	float: left;
	margin-right: 1.69492%;
}
.view-custom-field-collection-view.view-display-id-block_1 .views-row.triple.triple-last {
	width: 32.20339%;
	float: right;
	margin-right: 0;
}
.view-custom-field-collection-view.view-display-id-block_1 .views-row .entity-field-collection-item {
	padding: 0px;
	margin: 0px;
	border: 0px;
	-webkit-box-shadow: #d5d5d5 2px 2px 2px;
	-moz-box-shadow: #d5d5d5 2px 2px 2px;
	box-shadow: #d5d5d5 2px 2px 2px;
	border: 1px solid #dcd1cb;
	color: #555555;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 12px;
}

.view-custom-field-collection-view.view-display-id-block_1 .views-row .entity-field-collection-item .field-name-field-pwt-tab-badge-title {
	color: #000;
	font-size: 20px;
	line-height: 24px;
	margin: 5px 0;
	height: 48px;
	padding: 10px 20px;
}
.view-custom-field-collection-view.view-display-id-block_1 .views-row.triple .entity-field-collection-item .field-name-field-pwt-tab-badge-title {
	height: 72px;
}

.view-custom-field-collection-view.view-display-id-block_1 .views-row.triple .entity-field-collection-item .field-name-field-pwt-tab-badge-desc {
	height: 140px;
}
.view-custom-field-collection-view.view-display-id-block_1 .views-row .entity-field-collection-item .field-name-field-pwt-tab-badge-desc {
	font-size: 12px;
	line-height: 18px;
	margin: 5px 0 10px;
	height: 100px;
	overflow: hidden;
	display: block;
	padding: 10px 20px;
}
.view-custom-field-collection-view.view-display-id-block_1 .views-row .entity-field-collection-item .field-name-field-pwt-tab-badge-image img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

/**
*	Footer Section
**/
#section-footer{

}

#section-footer .zone{
	background: transparent;
	background: url(http://www.bmocm.com/common/images/home_bottom.jpg) repeat-x 0 0 #e0effc;
}
/**
*	Footer Menu
*/
#region-footer-second li a, #region-footer-second .leaf a {
	color: #333;
	font-size: .786em;
	text-decoration: none;
}
#block-menu-block-1{
	padding: 20px 15px 25px;	
}
#block-menu-block-1 .menu-block-wrapper > ul.menu {
	overflow: hidden;
}
#block-menu-block-1 .menu-block-wrapper > ul.menu > li.expanded {
	float: left;
	list-style: none;
}
#block-menu-block-1 .menu-block-wrapper > ul.menu > li {
	display: inline-block;
	margin: 0 30px 20px 0;
}
#block-menu-block-1 .menu-block-wrapper > ul.menu > li > a{
	font-size: 12px;
	font-weight: bold;
}
#block-menu-block-1 .menu-block-wrapper > ul.menu > li ul.menu {
	margin-top: 10px;
}
#block-menu-block-14 .menu-block-wrapper > ul.menu > li ul.menu li {
	float: none;
	width: 100%;
	line-height: 16px;
}
#block-menu-block-1 .menu-block-wrapper > ul.menu > li ul.menu li.expanded {
	list-style: none;
	width: 170px;
	margin-right: 20px;
	float: left;
}
#block-menu-block-1 .menu-block-wrapper > ul.menu > li ul.menu li span.nolink {
	display: block;
	font-size: 11px;
	font-weight: bold;
}

/**
*	Related FAQ
*/
#block-views-custom-content-block{

}
#block-views-custom-content-block .view-content .views-row{
	font-size: 12px;
	margin-left: 15px;
	list-style-image: url(../images/arrow.png);
}
