$dark_grey: #333333;
$light_grey: #666666;
$med_light_grey: #999999;
$extra_light_grey: #e5e5e5;
$yellow: #ca9f03;
$yellow_grey: #695201;
$light_blue: #1e5a87;
$tab_blue: #1a598c;
$dark_blue: #003d78;
$extra_dark_blue: #003366;
